*.txt
*.json

# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib

# Test binary, built with `go test -c`
*.test

# Output of the go coverage tool
*.out
coverage.out
*.coverprofile

# Dependency directories (when using vendoring)
vendor/

# Build directories
bin/
dist/

# OS/editor files
.DS_Store
.idea/
.vscode/
.cursor/
